<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browserNAme" value="chrome"></parameter>
    <classes>
      <class name="TestNG.firsttrailporogram"/>
      <class name="TestBaseClass.testbaseloginflipcart"/>
      <class name="Testclass.TC_01pagehandler"/>
      <class name="priorityAndinvocation.priorityAndInvocation"/>
      <class name="Testclass.tc_02logintestclass"/>
      <class name="priorityAndinvocation.priorityclass"/>
    </classes>
  </test> <!-- Test -->
<test thread-count="5" name="Test">
  <parameter name="browserNAme" value="gecko"></parameter>
    <classes>
      <class name="TestNG.firsttrailporogram"/>
      <class name="TestBaseClass.testbaseloginflipcart"/>
      <class name="Testclass.TC_01pagehandler"/>
      <class name="priorityAndinvocation.priorityAndInvocation"/>
      <class name="Testclass.tc_02logintestclass"/>
      <class name="priorityAndinvocation.priorityclass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
